<img class="image" src="{{imageHelper.placeHolderHelperIcon.directory}}" height="400">
<div class="word-container">
  <h2 class="message">Drag the tiles below to spell what you see above</h2>
  <div cdkDropList cdkDropListOrientation="horizontal" #wordList="cdkDropList" [cdkDropListData]="myWord"
    [cdkDropListConnectedTo]="[alphabetList]" class="letter-box" (cdkDropListDropped)="drop($event)">
    <div class="letter-tiles"
      *ngFor="let myWord of myWord" cdkDrag>{{myWord}}
    </div>
  </div>
</div>
  <br>
<div class="button-container">
  <button class="button" (click)="clearWordList()">Reset word bar</button>
  <span class="span"></span>
  <button class="button" (click)="spelledCorrectly()">Check spelling</button>
  <span class="span"></span>
  <button class="button" *ngIf="!isCorrectSpelling" (click)="iconIterator()" disabled >Next image</button>
  <button class="button" *ngIf="isCorrectSpelling" (click)="iconIterator()">Next image</button>
</div>

<br>
<br>
<br>
<br>
<div class="alphabet-container">
  <div cdkDropList cdkDropListOrientation="horizontal" #alphabetList="cdkDropList" [cdkDropListData]="usersAlphabet"
    [cdkDropListConnectedTo]="[wordList]" class="letter-box" (cdkDropListDropped)="drop($event)">
    <div class="letter-tiles" *ngFor="let usersAlphabet of usersAlphabet" cdkDrag>{{usersAlphabet}}</div>
  </div>
</div>
<br>
<br>
<h2 class="message" *ngIf="isCorrectSpelling">You spelled {{imageHelper.placeHolderHelperIcon.title}} correctly!</h2>
<h2 class="message" *ngIf="isWrongSpelling" >Sorry, that is incorrect. Please try again.</h2>
<router-outlet></router-outlet>